:root:has(.theme_dark) {
  --decor-color: var(--neon-pink);
  --hover-color: rgba(255, 0, 112, 0.4);
  --header-color: var(--purple);
  --accent-color: var(--neon-pink);
  --title-color: var(--neon-pink);
  --subtitle-color: var(--blue);
  --text-color: var(--light-pink);
  --background-color: var(--blue);
}

.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
}

.REC {
  visibility: visible;
}