:root:has(.theme_light) {
  --decor-color: var(--grey);
  --hover-color: rgba(53, 52, 48, 0.4);
  --header-color: var(--pink);
  --accent-color: var(--dark-pink);
  --title-color: var(--grey);
  --subtitle-color: var(--grey);
  --text-color: var(--grey);
  --background-color: var(--white-pink);
}

.page.theme_light {
  background-image: url(/images/cover-image-light.png);
}

.theme_light .REC {
  visibility: hidden;
}

@media (1024px <= width) {
  h1 {
    text-shadow: 4px 4px rgb(255, 0, 112);
  }
}

@media (1024px <= width) {
  .footer__title {
    text-shadow: 2px 2px rgb(255, 0, 112);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --decor-color: var(--grey);
    --hover-color: rgba(53, 52, 48, 0.4);
    --header-color: var(--pink);
    --accent-color: var(--dark-pink);
    --title-color: var(--grey);
    --subtitle-color: var(--grey);
    --text-color: var(--grey);
    --background-color: var(--white-pink);
  }
  
  .page {
    background-image: url(/images/cover-image-light.png);
  }
  
  .REC {
    visibility: hidden;
  }
  
  @media (1024px <= width) {
    h1 {
      text-shadow: 4px 4px rgb(255, 0, 112);
    }
  }
  
  @media (1024px <= width) {
    .footer__title {
      text-shadow: 2px 2px rgb(255, 0, 112);
    }
  }
}