.page {
  background-image: url(/images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  background-color: var(--background-color);
}

.header {
  padding: 10px;
  height: 100dvh;
  width: 100dvw;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.REC {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  position: absolute;
  top: 18px;
  right: 19px;
}

.REC::before {
  position: absolute;
  right: 20px;
  top: -4.5px;
  width: 33px;
  height: 26px;
  content: "REC";
  font: var(--theme-menu);
  color: var(--accent-color);
}

.header__theme-menu {
  grid-row: 1;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font: var(--theme-menu);
  color: var(--accent-color);
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  width: 70px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

h1 {
  grid-row: 2;
  justify-self: center;
  align-self: center;
  font-family: var(--text-font);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 83%;
  color: #db00ff;
  text-shadow: 4px 4px var(--accent-color);
}

.title-decor {
  grid-row: 3;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: flex-start;
	align-items: center;
  width: 100%;
  height: fit-content;
  background-color: var(--accent-color);
  font: var(--title);
  color: var(--background-color);
}

.main {
  display: flex;
  flex-direction: column;
  padding: 40px 10px;
  gap: 50px;
}

.main__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__section-title {
  font: var(--title);
  color: var(--accent-color);
}

.main__section-subtitle {
  display: flex;
  justify-content: flex-start;
	align-items: center;
  height: fit-content;
  background-color: var(--accent-color);
  font: var(--main);
  color: var(--background-color);
}

.main__text {
  font: var(--main);
  color: var(--main-color);
}

.footer {
  position: relative;
  display: grid;
  padding: 10px;
  height: 100dvh;
}

.footer__title {
  justify-self: center;
  align-self: center;
  color: rgb(219, 0, 255);
  font-family: var(--text-font);
  font-size: 116px;
  font-weight: 700;
  line-height: 82.5%;
  text-align: center;
  text-shadow: 2px 2px var(--accent-color);
}

.footer::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.footer::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}