:root {
  --text-font: "IBM Plex Mono", sans-serif;
  --main-text-size: 18px;
  --main-text-weight: 400;
  --main-text-line-height: 23.4px;
  --title-text-size: 18px;
  --title-text-weight: 700;
  --title-text-line-height: 23.4px;
  --theme-menu-text-size: 18px;
  --theme-menu-text-weight: 400;
  --theme-menu-text-line-height: 18px;
  --theme-menu: var(--theme-menu-text-weight) var(--theme-menu-text-size)/var(--theme-menu-text-line-height) var(--text-font);
  --title: var(--title-text-weight) var(--title-text-size)/var(--title-text-line-height) var(--text-font);
  --main:  var(--main-text-weight) var(--main-text-size)/var(--main-text-line-height) var(--text-font);
  --purple: rgb(219, 0, 255);
  --neon-pink: rgb(255, 0, 112);
  --pink: rgb(255, 194, 230);
  --dark-pink: rgb(255, 141, 203);
  --light-pink: rgb(241, 178, 206);
  --white-pink: rgb(255, 241, 247);
  --grey: rgb(53, 52, 48);
  --blue: rgb(0, 0, 40);
  --decor-color: var(--neon-pink);
  --hover-color: rgba(255, 0, 112, 0.4);
  --header-color: var(--purple);
  --accent-color: var(--neon-pink);
  --title-color: var(--neon-pink);
  --subtitle-color: var(--blue);
  --text-color: var(--light-pink);
  --background-color: var(--blue);
}