:root {
  --text-font: "IBM Plex Mono", sans-serif;
  --main-color: rgb(241, 178, 206);
  --accent-color: rgb(255, 0, 112);
  --background-color: rgb(0, 0, 40);
  --main-text-size: 18px;
  --main-text-weight: 400;
  --main-text-line-height: 23.4px;
  --title-text-size: 18px;
  --title-text-weight: 700;
  --title-text-line-height: 23.4px;
  --theme-menu-text-size: 18px;
  --theme-menu-text-weight: 400;
  --theme-menu-text-line-height: 18px;
  --theme-menu: var(--text-font) var(--theme-menu-text-size) var(--theme-menu-text-weight) var(--theme-menu-text-line-height);
  --title: var(--text-font) var(--title-text-size) var(--title-text-weight) var(--title-text-line-height);
  --main: var(--text-font) var(--main-text-size) var(--main-text-weight) var(--main-text-line-height);
}
